name: run-api
run-name: run-api
on: 
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  run-test-for-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo $PWD
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - name: move to the correct directory
        run: cd api &&  npm install && npm run build && npm run test
  
