name: run-api
run-name: run-api
on: 
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo $PWD
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - name: move to the correct directory
        run: cd ./api
          
      - name: install dependencies
        run: npm install

      - name: run the api
        run: npm run build
            
      - name: run the test
        run: npm run test
